<li class="commit" id="commit-<%= commit.id %>">
  <%= render 'commits/commit_author', commit: commit %>
  <%= render commit.last_statuses %>
  <div class="commit-details">
    <span class="commit-title"><%= render_commit_message_with_link commit %></span>
    <p class="commit-meta">
      <span class="sha"><%= render_commit_id_link(commit) %></span>
      <%= timeago_tag(commit.committed_at, force: true) %>
      <span class="utc-timecode">at <%= commit.committed_at.strftime('%H:%M:%S') %> UTC</span>
      <% if commit.additions? && commit.deletions? %>
        <span class="code-additions">+<%= commit.additions %></span>
        <span class="code-deletions">-<%= commit.deletions %></span>
      <% end %>
    </p>
  </div>
  <div class="commit-actions">
    <%= deploy_button(commit) %>
  </div>
</li>
