<li class="commit" id="commit-<%= commit.id %>">
  <div class="status <%= commit.state || 'unknown' %>" data-tooltip="<%= commit.state.capitalize %>">
    <a href="<%= commit.target_url%>" class="<%= :disabled unless commit.target_url.present? %>" target="_blank">
      <i><%= commit.state %></i>
      <%= github_avatar commit.author, size: 20 %>
    </a>
  </div>
  <div class="event">
    <span class="event-meta">
      <a href="<%= github_user_url(commit.author.login) %>" class="user main-user">
        <%= commit.author.name %>
      </a>
      merged <%= render_commit_id_link(commit) %> <%= timeago_tag(commit.committed_at, force: true) %>
      <span class="event-time">at <%= commit.committed_at %></span>
    </span>
    <span class="event-title">
      <%= render_commit_message commit %>
    </span>
  </div>
  <% if commit.state == 'success' %>
    <%= form_tag new_stack_deploy_path(@stack), :method => :get, :class => 'deploy-action' do %>
      <%= hidden_field_tag :sha, commit.sha %>
      <%= button_tag :name => nil, :class => 'btn' do %>
          <span>Deploy</span>
      <% end %>
    <% end %>
  <% elsif commit.state == 'pending' %>
    <a href="#" class="btn disabled deploy-action">Pending...</a>
  <% elsif commit.state == 'failure' %>
    <a href="#" class="btn disabled failure deploy-action">Failure</a>
  <% else %>
    <a href="#" class="btn disabled unknown deploy-action">Not Run</a>
  <% end %>
</li>
