<li class="commit" id="commit-<%= commit.id %>">
  <%= render commit.last_statuses %>
  <div class="event">
    <span class="event-meta">
      <%= render_github_user(commit.author) %>
      merged <%= render_commit_id_link(commit) %> <%= timeago_tag(commit.committed_at, force: true) %>
      <span class="event-time">at <%= commit.committed_at %></span>
      <span class="event-stats">
        <span class="event-additions">+<%= commit.additions %></span>
        <span class="event-deletions">-<%= commit.deletions %></span>
      </span>
    </span>
    <span class="event-title">
      <%= render_commit_message_with_link commit %>
    </span>
  </div>

  <%= render 'commits/deploy_button', commit: commit %>
</li>
