<li class="commit" id="commit-<%= commit.id %>">
  <div class="status <%= commit.state %>" data-tooltip="<%= commit.state.capitalize %>">
    <a href="<%= commit.target_url%>" class="<%= :disabled unless commit.target_url.present? %>" target="_blank">
      <i><%= commit.state %></i>
      <%= github_avatar commit.author, size: 20 %>
    </a>
  </div>
  <div class="event">
    <span class="event-meta">
      <a href="<%= github_user_url(commit.author.login) %>" class="user main-user">
        <%= commit.author.name %>
      </a>
      merged <%= render_commit_id_link(commit) %> <%= timeago_tag(commit.committed_at, force: true) %>
    </span>
    <span class="event-title">
      <%= render_commit_message commit %>
    </span>
  </div>

  <div class='deploy-action'>
    <%= button_to commit_button_text(commit),
      new_stack_deploy_path(stack, sha: commit.sha),
      class: "btn #{commit.state}",
      disabled: !commit.deployable?
    %>
  </div>
</li>
