<div class="status-group">
  <%= render 'statuses/status', status: group %>

  <div class="status-list">
    <div class="status-item status-item--summary status-item--<%= group.state %>">
      <i class="status-item__icon"></i>
      <strong class="status-item__service"><%= group.description %></strong>
    </div>
    <% group.statuses.each do |status| %>
      <div class="status-item status-item--<%= status.state %>">
        <i class="status-item__icon"></i>
        <strong class="status-item__service"><%= status.context %></strong>
        <span class="status-item__description">&mdash; <%= status.description %></span>
        <a href="<%= status.target_url %>" target="_blank" class="status-item__link">Details</a>
      </div>
    <% end %>
  </div>
</div>
