<div class="status-group">
  <%= render 'statuses/status', status: group %>

  <div class="status-items">
    <% group.statuses.each do |status| %>
      <div class="status-item <%= status.state %>">
        <strong><%= status.context %></strong>
        <span><%= status.description %></span>
        <a href="<%= status.target_url %>" target="_blank">Details</a>
      </div>
    <% end %>
  </div>
</div>
