<a class="status status--<%= status.state %> <%= :disabled unless status.target_url.present? %>" data-tooltip="<%= status.description.presence || status.state.capitalize %>" href="<%= status.target_url%>" target="_blank">
  <i class="status__icon"></i>
  <span class="visually-hidden"><%= status.state %></span>
</a>
