<%= render partial: 'tasks/plugins' %>
<%= render partial: "stacks/header", locals: { stack: @stack } %>

<div class="sidebar">
  <div class="sidebar-plugins"></div>
</div>

<div class="deploy-main" data-repo-full-name="<%= @stack.github_repo_name %>">
  <span class="deploy-tasks"></span>
  <div class="deploy-banner <%= task.status %>" data-task-status="<%= task.status %>">
    <div class="wrapper">
      <a href="#" class="user main-user disabled"><%= task.author.name %></a>
      <span class="deploy-status">
        <%= content_for :task_title %>
      </span>

      <span class="deploy-abort" data-task-status="<%= task.status %>">
        <%= link_to abort_stack_task_path(@stack, task), class: 'btn btn--delete deploy-action' do %>
        <span class="ready">Abort Deploy</span>
        <span class="disabled">Aborting</span>
        <% end %>
      </span>
    </div>
  </div>

  <pre class="nowrap">
  <code data-task-status="<%= task.status %>" data-next-chunks-url="<%= next_chunks_url(task) %>"><%= task.chunk_output %></code>
  </pre>
</div>
