<%= render partial: 'tasks/plugins' %>
<%= render partial: "stacks/header", locals: { stack: @stack } %>

<div class="sidebar">
  <div class="sidebar-plugins"></div>
</div>

<div class="deploy-main" data-repo-full-name="<%= @stack.github_repo_name %>">
  <span class="deploy-tasks"></span>
  <div class="deploy-banner <%= task.status %>" data-status="<%= task.status %>">
    <div class="wrapper">
      <a href="#" class="user main-user disabled"><%= task.author.name %></a>
      <span class="deploy-status">
        <%= content_for :task_title %>
      </span>

      <span class="deploy-abort first" data-action="abort" data-status="<%= task.status %>">
        <%= link_to abort_stack_task_path(@stack, task), class: 'btn btn--delete deploy-action' do %>
          <span class="caption--ready">Abort</span>
          <span class="caption--pending">Aborting...</span>
        <% end %>
      </span>

      <% if task.supports_rollback? %>
        <span class="deploy-abort" data-action="abort" data-rollback="true" data-status="<%= task.status %>">
          <%= link_to abort_stack_task_path(@stack, task, rollback: true), class: 'btn btn--delete deploy-action' do %>
            <span class="caption--ready">Abort and Rollback</span>
            <span class="caption--pending">Aborting with Rollback...</span>
          <% end %>
        </span>
      <% end %>
    </div>
  </div>

  <pre class="nowrap" data-status="<%= task.status %>"><code data-next-chunks-url="<%= next_chunks_url(task) %>"><%= task.chunk_output %></code></pre>
</div>
