<%= render partial: "stacks/header", locals: { stack: @stack } %>

<div class="wrapper">
  <section>
    <header class="section-header">
      <p><%= @task.definition.description %></p>
    </header>
  </section>

  <section>
    <pre class="nowrap"><code><%= @task.definition.steps.join("\n") %></code></pre>
  </section>

  <section class="submit-section">
    <%= form_for @task, url: stack_tasks_path(@stack, definition_id: @task.definition.id) do |f| %>
      <%= f.submit @task.definition.action, :class => ['btn', 'primary', 'trigger-deploy'] %>
    <% end %>
  </section>
</div>
