<li class="deploy" id="deploy-<%= deploy.id %>" data-deploy-status="<%= deploy.status %>">
  <div class="status <%= deploy.status %>" data-tooltip="<%= deploy.status.capitalize %>">
    <%= link_to stack_deploy_path(@stack, deploy) do %>
      <i><%= deploy.status %></i>
    <% end %>
  </div>
  <div class="event">
    <span class="event-meta">
      <a href="<%= github_user_url(deploy.author.login) %>" class="user main-user">
        <%= github_avatar deploy.user, size: 20 %>
        <%= deploy.author.name %>
      </a>
      <% if deploy.rollback? %>
        rolled back to
      <% else %>
        deployed
      <% end %>

      <%= link_to_github_deploy(deploy) %> <%= timeago_tag(deploy.created_at, force: true) %>
      <span class="event-time">at <%= deploy.created_at %></span>
      <span class="event-stats">
        <span class="event-additions">+<%= deploy.additions %></span>
        <span class="event-deletions">-<%= deploy.deletions %></span>
      </span>
    </span>
    <span class="event-title">
      <a href="<%= stack_deploy_path(@stack, deploy) %>">
        <%= render_commit_message deploy.until_commit %>
      </a>
      <span class="event-number"></span>
    </span>
  </div>

  <% if deploy.stack.supports_rollback? %>
    <% if deploy.stack.deploying? %>
      <%= link_to 'Deploy in progress...', '#', class: 'btn disabled deploy-action' %>
    <% else %>
      <%= link_to 'Rollback', rollback_stack_deploy_path(@stack, deploy), class: 'btn delete deploy-action' %>
    <% end %>
  <% end %>
</li>
