<li class="commit" id="deploy-<%= deploy.id %>" data-task-status="<%= deploy.status %>">
  <%= render 'commits/commit_author', commit: deploy %>
  <a href="<%= stack_deploy_path(@stack, deploy) %>" class="status status--<%= deploy.status %>" data-tooltip="<%= deploy.status.capitalize %>">
    <i class="status__icon"></i>
    <span class="visually-hidden"><%= deploy.status %></span>
  </a>
  <div class="commit-details">
    <span class="commit-title">
      <a href="<%= stack_deploy_path(@stack, deploy) %>">
        <%= render_commit_message deploy.until_commit %>
      </a>
    </span>
    <p class="commit-meta">
      <span class="sha"><%= link_to_github_deploy(deploy) %></span>
      <%= deploy.rollback? ? 'rolled back' : 'deployed' %> <%= timeago_tag(deploy.created_at, force: true) %>
      <span class="utc-timecode">at <%= deploy.created_at.strftime('%H:%M:%S') %> UTC</span>
      <span class="code-additions">+<%= deploy.additions %></span>
      <span class="code-deletions">-<%= deploy.deletions %></span>
    </p>
  </div>
  <div class="commit-actions">
    <% if deploy.rollbackable? %>
      <% if deploy.stack.deploying? %>
        <%= link_to 'Deploy in progress...', '#', class: 'btn disabled deploy-action' %>
      <% else %>
        <%= link_to "Rollback to this deploy", rollback_stack_deploy_path(@stack, deploy), class: 'btn delete deploy-action rollback-action' %>
      <% end %>
    <% end %>
  </div>
</li>
