<ul class="commit-lst sub-commits">
  <% commits.each do |commit| %>
    <li>
      <div data-tooltip="<%= commit.author.name %>" class="avatar">
        <%= github_avatar commit.author, size: 24 %>
      </div>
      <div class="event">
        <span class="event-title">
          <%= render_commit_message_with_link commit %>
        </span>
      </div>
      <a href="<%= github_commit_url(commit) %>" target="_blank" class="accessory subdued number" data-tooltip="View on GitHub">
        <i class="ico-<%= commit.state %>-small"></i> <%= commit.short_sha %>
      </a>
    </li>
  <% end %>
</ul>
