<%= render partial: "stacks/header", locals: { stack: @stack } %>

<div class="wrapper">
  <section>
      <header class="section-header">
        <h2>Commits included in this deploy</h2>
      </header>

      <p><%= link_to_github_deploy(@deploy) %></p>

      <%= render 'deploys/summary', commits: @deploy.commits %>
  </section>

  <%= render_checklist @stack %>

  <section class="submit-section">
    <%= form_for [@stack, @deploy] do |f| %>
      <%= f.hidden_field :until_commit_id %>
      <%= f.submit :class => ['btn', 'primary', 'trigger-deploy'] %>
    <% end %>
  </section>
</div>
