<%= render partial: "stacks/header", locals: { stack: @stack } %>

<div class="wrapper">
  <%= render 'concurrent_deploy_warning' if @stack.deploying? %>

  <section>
    <header class="section-header">
      <h2>Commits included in this deploy (<%= link_to_github_deploy(@deploy) %>)</h2>
    </header>

    <%= render 'deploys/summary', commits: @deploy.commits %>
  </section>

  <% unless @deploy.commits_since.empty?  %>
    <section class="less-important">

      <p>The following commits are <strong>not</strong> included in this deploy.
      Please ensure that none of these commits are needed for what
      <strong>is</strong> being deployed (for example, if they contain the revert
      of a broken change).</p>

      <%= render 'deploys/summary', commits: @deploy.commits_since %>
    </section>
  <% end %>

  <%= render_monitoring @stack %>

  <%= render_checks @commit %>

  <%= render_checklist @stack.checklist %>

  <%= form_for [@stack, @deploy] do |f| %>
    <% unless @deploy.variables.empty? %>
      <section>
        <header class="section-header environment-variables">
          <h2>Environment variables</h2>
        </header>
        <%= f.fields_for :env do |env_fields| %>
          <% @deploy.variables.each do |variable| %>
            <p class="environment-variable">
              <%= env_fields.text_field variable.name, value: variable.default %>
              <%= env_fields.label variable.name, variable.title || variable.name %>
            </p>
          <% end %>
        <% end %>
      </section>
    <% end %>
    <section class="submit-section">
      <% if @stack.deploying? %>
        <%= hidden_field_tag :force, value: true %>
      <% end %>
      <%= f.hidden_field :until_commit_id %>
      <%= f.submit class: 'btn btn--primary btn--large trigger-deploy' %>
    </section>
  <% end %>
</div>
