<header class="repo-header">
  <div class="wrapper">
    <div class="repo-name">
      <p>Repo owned by <%= @stack.repo_owner %></p>
      <h1><a href="<%= stack_path(@stack) %>"><%= @stack.repo_name %> <small><%= @stack.environment %></small></a></h1>
    </div>
    <div class="header-accessory">
      <a href="<%= github_repo_url(@stack.repo_owner, @stack.repo_name) %>" class="ico-github" data-tooltip="View repo on Github">Github Repo</a>
      <a href="<%= settings_stack_path(@stack) %>" class="ico-settings" data-tooltip="Settings">Settings</a>
    </div>
  </div>
</header>

<div class="wrapper">

  <section>

      <header class="section-header">
        <h2>Commits included in this deploy</h2>
      </header>

      <ul class="commit-lst sub-commits">
        <% @deploy.commits.each do |commit| %>
          <li>
            <img src="<%= commit.author.avatar_url %>" alt="" class="avatar" />
            <div class="event">
              <span class="event-title"><%= commit.message %></span>
            </div>
            <a href="#" class="accessory subdued"><%= commit.short_sha %></a>
          </li>
        <% end %>
      </ul>

  </section>


  <section class="submit-section">
    <%= form_for [@stack, @deploy] do |f| %>
      <%= f.hidden_field :until_commit_id %>
      <%= f.submit :class => ['btn', 'primary'] %>
    <% end %>
  </section>



</div>
