<%= render partial: "stacks/header", locals: { stack: @stack } %>

<div class="wrapper">
  <section>
    <header class="section-header">
      <h2>Commits included in this deploy</h2>
    </header>

    <p><%= link_to_github_deploy(@deploy) %></p>

    <%= render 'deploys/summary', commits: @deploy.commits %>
  </section>

  <% unless @deploy.commits_since.empty?  %>
    <section class="less-important">

      <p>The following commits are <strong>not</strong> included in this deploy.
      Please ensure that none of these commits are needed for what
      <strong>is</strong> being deployed (for example, if they contain the revert
      of a broken change).</p>

      <%= render 'deploys/summary', commits: @deploy.commits_since %>
    </section>
  <% end %>

  <%= render 'deploys/newrelic' %>

  <%= render_checklist @stack %>

  <section class="submit-section">
    <%= form_for [@stack, @deploy] do |f| %>
      <%= f.hidden_field :until_commit_id %>
      <%= f.submit :class => ['btn', 'primary', 'trigger-deploy'] %>
    <% end %>
  </section>
</div>
