<h1>Deploying <%= @deploy.until_commit.sha %></h1>
<div id="status"><%= @deploy.status %></div>
<pre>
  <% if @deploy.output? %>
    <code><%= @deploy.output %></code>
  <% else %>
    <code data-next-chunks-url="<%= next_chunks_url %>"><%= @deploy.chunk_output %></code>
  <% end %>
</pre>
