<%= render partial: "stacks/header", locals: { stack: @stack } %>
<div class="deploy-banner <%= @deploy.status %>" data-deploy-status="<%= @deploy.status %>">
  <div class="wrapper">
    <span class="deploy-status">Deploying <span class="short-sha"><%= @deploy.until_commit.short_sha %></span></span>
  </div>
</div>

<pre>
  <code data-next-chunks-url="<%= next_chunks_url %>"><%= @deploy.chunk_output %></code>
</pre>
