<% subscribe events_path(channels: ["stack.#{@stack.id}"]), '#layout-content' %>

<%= render partial: 'shipit/stacks/header', locals: {stack: @stack} %>
<%= render partial: 'shipit/stacks/banners', locals: {stack: @stack} %>

<div class="wrapper">
  <section>
    <header class="section-header">
      <h2>Undeployed Commits</h2>

      <div class="commit-list-actions">
        <% if params[:force] %>
          <%= link_to 'Exit emergency mode', stack_path(@stack) %>
        <% else %>
          <%= link_to 'Enable emergency mode', stack_path(@stack, force: 1) %>
        <% end %>
      </div>
    </header>
    <ul class="commit-list">
      <%= render partial: 'shipit/commits/commit', collection: @commits %>
    </ul>
  </section>

  <% cache @stack do %>
    <section>
      <header class="section-header">
        <h2>Previous Deploys</h2>
      </header>
      <ul class="commit-list">
        <%= render @tasks %>
      </ul>
    </section>
  <% end %>
</div>
