<header class="header repo-header">
  <div class="wrapper">
    <div class="repo-name" data-repo-full-name="<%= stack.github_repo_name %>">
      <p><%= stack.repo_owner %></p>
      <h1><a href="<%= stack_path(@stack) %>"><%= stack.repo_name %> <small><%= stack.environment %></small></a></h1>
      <% if stack.deploy_url.present? %>
        <%= link_to stack.deploy_url, stack.deploy_url, :target => '_blank', :class => 'deploy-url' %>
      <% end %>
    </div>
    <div class="header-accessory">
      <%= link_to 'Refresh statuses and commits', stack_refresh_path(@stack), method: 'post', class: 'ico-refresh', data: {tooltip: 'Refresh statuses and commits'} %>
      <%= link_to 'Github Repo', github_repo_url(stack.repo_owner, stack.repo_name), class: 'ico-github', data: {tooltip: 'View repo on Github'} %>
      <%= link_to 'Settings', stack_settings_path(stack), class: 'ico-settings', data: {tooltip: 'Settings'} %>
    </div>
  </div>
</header>
