<div class="wrapper">
  <section>
    <header class="section-header">
      <h1>Stacks</h1>
    </header>
    <section class="stack-search">
      <input id="stacks-search" placeholder="Search stacks" />
    </section>
    <ul class="stack-lst">
      <% @stacks.each do |stack| %>
        <li class="search-item" data-search="<%= stack.repo_name %> <%= stack.environment %> <%= stack.deploy_url %>">
          <%= link_to stack_path(stack), class: 'commits-path' do %>
            <span><%= stack.repo_name %></span>
            <small><%= stack.environment.capitalize %></small>
          <% end %>
        </li>
      <% end %>
    </ul>

    <%= link_to 'Add a stack', new_stack_path, class: 'btn' %>
  </section>

</div>
