<div class="wrapper">
  <section>
    <header class="section-header">
      <input class="stack-search" placeholder="Search stacks" />
    </header>
    <ul class="stack-table-header">
      <li class="col">Name</li>
      <li class="col">Environment</li>
      <li class="col">Deploy URL</li>
    </ul>
    <ul class="stack-lst">
      <% @stacks.each do |stack| %>
        <li class="search-item" data-search="<%= stack.repo_name %> <%= stack.environment %> <%= stack.deploy_url %>">
          <%= link_to stack_path(stack), class: 'commits-path' do %>
            <span class="col"><%= stack.repo_name %></span>
            <small class="col"><%= stack.environment.capitalize %></small>
            <small class="col"><%= stack.deploy_url %></small>
          <% end %>
        </li>
      <% end %>
    </ul>

    <%= link_to 'Add a stack', new_stack_path, class: 'btn' %>
  </section>

</div>
