<div class="wrapper">
  <section>
    <header class="section-header">
      <h1>Stacks</h1>
    </header>
    <section class="stack-search">
      <input placeholder="Search stacks" />
    </section>
    <ul class="stack-lst">
      <% @stacks.each do |stack| %>
        <li class="search-item">
          <%= link_to stack_path(stack), class: 'commits-path' do %>
            <span data-search="name"><%= stack.repo_name %></span>
            <small data-search="environment"><%= stack.environment.capitalize %></small>
            <div class="search-hint">Deploy URL: <span data-search="deploy_url"><%= stack.deploy_url %></span></div>
          <% end %>
        </li>
      <% end %>
    </ul>

    <%= link_to 'Add a stack', new_stack_path, class: 'btn' %>
  </section>

</div>
