<% content_for :page_title do %>
  <h1>Create a stack</h1>
<% end %>

<div class="wrapper">
  <section>
    <div class="setting-section">
      <%= form_for @stack do |f| %>
        <p>
          <%= label_tag "Repo" %>
          https://github.com/
          <%= f.text_field :repo_owner, placeholder: 'e.g. Shopify', required: true, class: "repo" %>
          /
          <%= f.text_field :repo_name, required: true, pattern: "^[a-z0-9\-_\.]+$", class: "repo" %>
        </p>
        <p>
          <%= f.label :branch %>
          <%= f.text_field :branch, placeholder: 'master' %>
        </p>
        <p>
          <%= f.label :environment %>
          <%= f.text_field :environment, placeholder: 'production' %>
        </p>
        <p>
          <%= f.label :deploy_url %>
          <%= f.text_field :deploy_url, placeholder: 'https://' %>
          <span class="form-hint">Where is this stack deployed to?</span>
        </p>
        <p>
          <%= f.label :ignore_ci, "Allow deploys regardless of CI status" %>
          <%= f.check_box :ignore_ci %>
        </p>
        <p><%= f.submit class: 'btn' %></p>
      <% end %>
    </div>
  </section>
</div>
