<header class="repo-header">
  <div class="wrapper">
    <div class="repo-name">
      <p>Repo owned by <%= @stack.repo_owner %></p>
      <h1><a href="<%= stack_path(@stack) %>"><%= @stack.repo_name %> <small><%= @stack.environment %></small></a></h1>
    </div>
    <div class="header-accessory">
      <a href="<%= github_repo_url(@stack.repo_owner, @stack.repo_name) %>" class="ico-github" data-tooltip="View repo on Github">Github Repo</a>
      <a href="<%= settings_stack_path(@stack) %>" class="ico-settings" data-tooltip="Settings">Settings</a>
    </div>
  </div>
</header>

<div class="wrapper">
  <section>
    <header class="section-header">
      <h2>Settings</h2>
    </header>
    <div class="setting-section">
      <%= form_for @stack do |f| %>
        <p>Checklist (Leave a blank line between items, HTML &lt;a&gt; and &lt;strong&gt; elements are authorized)</p>
        <p><%= f.text_area :checklist %></p>
        <p><%= f.submit class: "btn" %></p>
      <%- end -%>
    </div>

    <div class="setting-section">
      <h5>Resynchronize this stack</h5>
      <p>Ensure that all required webhooks have been created.</p>
      <%= button_to "Webhooks", sync_webhooks_stack_path(@stack), class: "btn", method: "post" %>
      <p>Force synchronization of new commits in case webhooks haven't been triggered correctly.</p>
      <%= button_to "Commits", sync_commits_stack_path(@stack), class: "btn", method: "post" %>
      <p>Delete the local git mirror in case it's in a bad state.</p>
      <%= button_to "Clear Git Cache", clear_git_cache_stack_path(@stack), class: "btn", method: "post" %>
    </div>
    <div class="setting-section">
      <h5>Delete this stack</h5>
      <p>This action will delete the stack from Ship it permanently. Be careful.</p>
      <%= button_to "Delete", stack_path(@stack), :class => "btn delete", :method => :delete, :confirm => "Are you sure?" %>
    </div>

  </section>
</div>
