<header class="repo-header">
  <div class="wrapper">
    <div class="repo-name">
      <p>Repo owned by <%= @stack.repo_owner %></p>
      <h1><a href="<%= stack_path(@stack) %>"><%= @stack.repo_name %> <small><%= @stack.environment %></small></a></h1>
    </div>
    <div class="header-accessory">
      <a href="<%= github_repo_url(@stack.repo_owner, @stack.repo_name) %>" class="ico-github" data-tooltip="View repo on Github">Github Repo</a>
      <a href="<%= settings_stack_path(@stack) %>" class="ico-settings" data-tooltip="Settings">Settings</a>
    </div>
  </div>
</header>

<div class="wrapper">
  <section>
    <header class="section-header">
      <h2><%= @commits.empty? ? 'No' : @commits.size %> Undeployed Commits</h2>
    </header>
    <%- if @commits.empty? -%>
      <p><%= emoji_tag(:walrus) %> is happy. Good job!</p>
    <%- else -%>
      <ul class="commit-lst">
        <% @commits.each do |commit| %>
          <%= render partial: "commits/list_item", locals: { commit: commit } %>
        <% end %>
      </ul>
    <%- end -%>
  </section>

  <section>
    <header class="section-header">
      <h2>Previous Deploys</h2>
    </header>
    <ul class="commit-lst" data-event-stream="<%= events_path(channels: ["stack.#{@stack.id}"]) %>" data-commits-path="<%= stack_commit_path(@stack, 0) %>">
      <% @deploys.each do |deploy| %>
        <li>
          <div class="status <%= deploy.status %>" data-tooltip="<%= deploy.status.capitalize %>">
            <i><%= deploy.status %></i>
            <img src="" alt="">
          </div>
          <div class="event">
            <span class="event-meta">
              <a href="#" class="user main-user disabled"><%= deploy.user_name %></a>
              deployed <%= time_ago_in_words(deploy.created_at) %> ago
            </span>
            <span class="event-title">
              <a href="<%= stack_deploy_path(@stack, deploy) %>">
                <%= deploy.until_commit.message %>
              </a>
              <span class="event-number">(<%= deploy.since_commit.short_sha %> - <%= deploy.until_commit.short_sha %>)</span>
            </span>
          </div>
        </li>
      <% end %>
    </ul>
  </section>
</div>
