<!-- <h1><%= @stack.repo_owner %>/<%= @stack.repo_name %> <small><%= @stack.environment %></small></h1> -->


<section>

<header class="section-header">
  <h1>Undeployed Commits</h1>
  <a href="<%= settings_stack_path(@stack) %>">Settings</a>
  <a href="<%= github_repo_url(@stack.repo_owner, @stack.repo_name) %>">Github Repo</a>
</header>
<ul class="commit-lst">
  <% @commits.each do |commit| %>
    <li>
      <div class="status <%= commit.state %>">
        <i><%= commit.state %></i>
        <img src="<%= commit.author.avatar_url %>" alt="">
      </div>
      <div class="event">
        <span class="event-meta"><a href="<%= github_user_url(commit.author.login) %>" class="user main-user"><%= commit.author.name %></a> merged 12 mins ago</span>
        <span class="event-title"><%= commit.message %> <span class="event-number">(<a href="<%= github_commit_url(@stack.repo_owner, @stack.repo_name, commit.sha) %>"><%= commit.short_sha %></a>)</span></span>
      </div>
      <% if commit.state == 'success' %>
        <%= form_tag new_stack_deploy_path(@stack), :method => :get, :class => 'deploy-action' do %>
          <%= hidden_field_tag :sha, commit.sha %>
          <%= submit_tag "Deploy", :class => 'btn' %>
        <% end %>
      <% elsif commit.state == 'pending' %>
        <a href="#" class="btn disabled deploy-action">Pending...</a>
      <% else %>
        <a href="#" class="btn disabled deploy-action">Failure</a>
      <% end %>
    </li>
  <% end %>
</ul>
</section>

<section>
  <header class="section-header">
    <h1>Deploys</h1>
  </header>
  <ul class="commit-lst">
    <% @deploys.each do |deploy| %>
      <li>
        <div class="status <%= deploy.status %>">
          <i><%= deploy.status %></i>
          <img src="" alt="">
        </div>
        <div class="event">
          <span class="event-meta"><a href="#" class="user main-user">Name</a> deployed 12 mins ago</span>
          <span class="event-title"><span class="event-number">(<%= deploy.since_commit.short_sha %> - <%= deploy.until_commit.short_sha %>)</span></span>
        </div>
      </li>
    <% end %>
  </ul>
</section>

<table>
  <thead>
    <tr>
      <th>SHA</th>
      <th>Author</th>
      <th>Message</th>
      <th>CI Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @commits.each do |commit| %>
      <tr>
        <td>
          <a href="<%= github_commit_url(@stack.repo_owner, @stack.repo_name, commit.sha) %>">
            <%= commit.short_sha %>
          </a>
        </td>
        <td>
          <a href="<%= github_user_url(commit.author.login) %>">
            <%= commit.author.name %>
          </a>
        </td>

        <td><%= commit.message %></td>
        <td><%= commit.state %></td>
        <td>
          <%= form_tag new_stack_deploy_path(@stack), :method => :get do %>
            <%= hidden_field_tag :sha, commit.sha %>
            <%= submit_tag "Deploy" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Deploys</h2>

<table>
  <thead>
    <tr>
      <th>Commit Range</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @deploys.each do |deploy| %>
      <tr>
        <td>
          <a href="<%= github_diff_url(@stack.repo_owner, @stack.repo_name, deploy.since_commit.sha, deploy.until_commit.sha) %>">
            <%= deploy.since_commit.short_sha %> &rarr; <%= deploy.until_commit.short_sha %>
          </a>
        </td>
        <td><%= link_to deploy.status, stack_deploy_path(deploy.stack, deploy) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
