<%= render partial: "stacks/header", locals: { stack: @stack } %>

<section>
  <div class="wrapper configure-ci hidden">
    <p>Hey there, did you forget to enable Continuous Integration for this repository?</p>
    <a href="https://repodb.herokuapp.com/ci/<%= @stack.github_repo_name %>/show" target="_blank">Take me there!</a>
  </div>
</section>

<div
  class="wrapper"
  data-event-stream="<%= events_path(channels: ["stack.#{@stack.id}"]) %>"
  data-stack-locked="<%= @stack.locked? %>"
  data-stack-status="<%= @stack.status %>"
>

  <section class="lock-reason">
    <div class="wrapper message">
      <h2>Deploys are locked</h2>
      <p><%= @stack.lock_reason %></p>
    </div>
  </section>

  <section>
    <header class="section-header">
      <h2>Undeployed Commits</h2>
    </header>
    <ul class="commit-lst"><%= render partial: "commits/commit", collection: @commits %></ul>
  </section>

  <section>
    <header class="section-header">
      <h2>Previous Deploys</h2>
    </header>
    <ul class="deploy-lst"><%= render partial: "deploys/deploy", collection: @deploys %></ul>
  </section>
</div>
