<h1><%= @stack.repo_owner %>/<%= @stack.repo_name %> <small><%= @stack.environment %></small></h1>

<a href="<%= settings_stack_path(@stack) %>">Settings</a>
<a href="<%= github_repo_url(@stack.repo_owner, @stack.repo_name) %>">Github Repo</a>

<h2>Undeployed Commits</h2>

<table>
  <thead>
    <tr>
      <th>SHA</th>
      <th>Author</th>
      <th>Message</th>
      <th>CI Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @commits.each do |commit| %>
      <tr>
        <td>
          <a href="<%= github_commit_url(@stack.repo_owner, @stack.repo_name, commit.sha) %>">
            <%= commit.short_sha %>
          </a>
        </td>
        <td>
          <a href="<%= github_user_url(commit.author.login) %>">
            <%= commit.author.name %>
          </a>
        </td>

        <td><%= commit.message %></td>
        <td><%= commit.state %></td>
        <td>
          <%= form_tag new_stack_deploy_path(@stack), :method => :get do %>
            <%= hidden_field_tag :sha, commit.sha %>
            <%= submit_tag "Deploy" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Deploys</h2>

<table>
  <thead>
    <tr>
      <th>Commit Range</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @deploys.each do |deploy| %>
      <tr>
        <td>
          <a href="<%= github_diff_url(@stack.repo_owner, @stack.repo_name, deploy.since_commit.sha, deploy.until_commit.sha) %>">
            <%= deploy.since_commit.short_sha %> &rarr; <%= deploy.until_commit.short_sha %>
          </a>
        </td>
        <td><%= deploy.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
