<header class="repo-header">
  <div class="wrapper">
    <div class="repo-name">
      <p>Repo owned by <%= @stack.repo_owner %></p>
      <h1><a href="<%= stack_path(@stack) %>"><%= @stack.repo_name %> <small><%= @stack.environment %></small></a></h1>
      <% if @stack.deploy_url.present? %>
        <p class="deploy-url">Deployed to: <%= link_to @stack.deploy_url, @stack.deploy_url, :target => '_blank' %></p>
      <% end %>
    </div>
    <div class="header-accessory">
      <a href="<%= github_repo_url(@stack.repo_owner, @stack.repo_name) %>" class="ico-github" data-tooltip="View repo on Github">Github Repo</a>
      <a href="<%= settings_stack_path(@stack) %>" class="ico-settings" data-tooltip="Settings">Settings</a>
    </div>
  </div>
</header>

<div class="wrapper" data-event-stream="<%= events_path(channels: ["stack.#{@stack.id}"]) %>">
  <section>
    <header class="section-header">
      <h2>Undeployed Commits</h2>
    </header>
    <ul class="commit-lst"><%= render partial: "commits/commit", collection: @commits %></ul>
  </section>

  <section>
    <header class="section-header">
      <h2>Previous Deploys</h2>
    </header>
    <ul class="deploy-lst"><%= render partial: "deploys/deploy", collection: @deploys %></ul>
  </section>
</div>
