<% unless @stack.task_definitions.empty? %>
  <% content_for :inner_sidebar do %>
    <div class="stack-actions">
      <ul>
        <% @stack.task_definitions.each do |definition| %>
          <li class="stack-action">
            <%= link_to "#{definition.action}…", new_stack_tasks_path(@stack, definition_id: definition.id), class: %w(btn trigger-deploy) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<%= render partial: "stacks/header", locals: { stack: @stack } %>

<% if !@stack.ignore_ci && !@stack.ci_enabled? %>
  <section>
    <div class="wrapper ignoring-ci">
      <p>
        <strong>Heads Up!</strong>
        This stack is not configured for CI, but it currently requires a passing build to be able to deploy a commit.
        You can either configure CI yourself, or <a href="#">ignore CI statuses and deploy any commits you want.</a>
      </p>
      <a class="dismiss-ignore-ci-warning"><small><em>Dismiss this message.</em></small></a>
    </div>
  </section>
<% end %>

<div class="wrapper" data-event-stream="<%= events_path(channels: ["stack.#{@stack.id}"]) %>">
  <% if @stack.locked? %>
    <section class="lock-reason">
      <div class="wrapper message">
        <h2>Deploys are locked by <%= render_github_user(@stack.lock_author || AnonymousUser.new) %></h2>
        <p><%= @stack.lock_reason %></p>
      </div>
    </section>
  <% end %>

  <section>
    <header class="section-header">
      <h2>Undeployed Commits</h2>
    </header>
    <ul class="commit-lst"><%= render partial: "commits/commit", collection: @commits.to_a %></ul>
  </section>

  <section>
    <header class="section-header">
      <h2>Previous Deploys</h2>
    </header>
    <ul class="deploy-lst"><%= render @tasks %></ul>
  </section>
</div>
