<header class="repo-header">
  <div class="wrapper">
    <div class="repo-name">
      <p>Repo owned by <%= @stack.repo_owner %></p>
      <h1><a href="<%= stack_path(@stack) %>"><%= @stack.repo_name %> <small><%= @stack.environment %></small></a></h1>
    </div>
    <div class="header-accessory">
      <a href="<%= github_repo_url(@stack.repo_owner, @stack.repo_name) %>" class="ico-github" data-tooltip="View repo on Github">Github Repo</a>
      <a href="<%= settings_stack_path(@stack) %>" class="ico-settings" data-tooltip="Settings">Settings</a>
    </div>
  </div>
</header>

<div class="wrapper">
  <section>
    <header class="section-header">
      <h2>Undeployed Commits</h2>
    </header>
    <ul class="commit-lst">
      <% @commits.each do |commit| %>
        <li class="commit">
          <div class="status <%= commit.state %>" data-tooltip="<%= commit.state.capitalize %>">
            <a href="<%= commit.target_url%>" class="<%= :disabled unless commit.target_url.present? %>" target="_blank">
              <i><%= commit.state %></i>
              <img src="<%= commit.author.avatar_url %>" alt="">
            </a>
          </div>
          <div class="event">
            <span class="event-meta">
              <a href="<%= github_user_url(commit.author.login) %>" class="user main-user">
                <%= commit.author.name %>
              </a>
              merged <%= time_ago_in_words(commit.created_at) %> ago
            </span>
            <span class="event-title">
              <%= render_commit_message commit %>
            </span>
          </div>
          <% if commit.state == 'success' %>
            <%= form_tag new_stack_deploy_path(@stack), :method => :get, :class => 'deploy-action' do %>
              <%= hidden_field_tag :sha, commit.sha %>
              <%= submit_tag "Deploy", :name => nil, :class => 'btn' %>
            <% end %>
          <% elsif commit.state == 'pending' %>
            <a href="#" class="btn disabled deploy-action">Pending...</a>
          <% elsif commit.state.blank? %>
          <% else %>
            <a href="#" class="btn disabled failure deploy-action">Failure</a>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>

  <section>
    <header class="section-header">
      <h2>Deploys</h2>
    </header>
    <ul class="commit-lst">
      <% @deploys.each do |deploy| %>
        <li>
          <div class="status <%= deploy.status %>" data-tooltip="<%= deploy.status.capitalize %>">
            <i><%= deploy.status %></i>
            <img src="" alt="">
          </div>
          <div class="event">
            <span class="event-meta"><a href="#" class="user main-user">Name</a> deployed <%= time_ago_in_words(deploy.since_commit.created_at) %> ago</span>
            <span class="event-title">
              <a href="<%= stack_deploy_path(@stack, deploy) %>">
                <%= deploy.until_commit.message %>
              </a>
              <span class="event-number">(<%= deploy.since_commit.short_sha %> - <%= deploy.until_commit.short_sha %>)</span>
            </span>
          </div>
        </li>
      <% end %>
    </ul>
  </section>
</div>
