<li class="pr" id="pr-<%= merge_request.id %>">
  <%= render 'shipit/shared/author', author: merge_request.merge_requested_by %>
  <div class="pr-details">
    <span class="pr-number">
      <%= pull_request_link(merge_request) %>
    </span>
    <span class="pr-title">
      <%= render_pull_request_title_with_link merge_request %>
    </span>
    <p class="pr-meta">
      <span class="code-additions">+<%= merge_request.additions %></span>
      <span class="code-deletions">-<%= merge_request.deletions %></span>
    </p>
    <p class="pr-meta">
      Enqueued <%= timeago_tag(merge_request.merge_requested_at, force: true) %>
      <% if merge_request.revalidating? %>
        <em class="warning">Need revalidation.</em>
      <% end %>
    </p>
  </div>
  <% if merge_request.revalidating? %>
    <div class="commit-actions">
      <%= button_to 'Confirm', stack_merge_requests_path(merge_request.stack, number_or_url: merge_request.number), class: 'btn btn--warning', method: 'post' %>
    </div>
  <% end %>
  <div class="commit-actions">
    <%= button_to 'Cancel', stack_merge_request_path(merge_request.stack, merge_request), class: 'btn btn--warning', method: 'delete' %>
  </div>
</li>
