<ul class="commit-summary-list">
  <% commits.each do |commit| %>
    <li class="commit-summary">
      <div data-tooltip="<%= commit.author.name %>" class="commit-summary__avatar">
        <%= github_avatar commit.author, size: 24 %>
      </div>
      <span class="commit-summary__title"><%= render_commit_message_with_link commit %></span>
      <a href="<%= github_commit_url commit %>" class="commit-summary__sha number">
        <i class="ico-<%= commit.state %>-small"></i> <%= commit.short_sha %>
      </a>
    </li>
  <% end %>
</ul>
