<%= render partial: 'shipit/stacks/header', locals: { stack: @stack } %>

<div class="wrapper">
  <% unless @deploy.safe_to_rollback_to? %>
    <section class="warning">
      <h2>You are about to rollback a commit marked as unsafe to rollback</h2>
      <ul>
        <li>Please review the unsafe commits below</li>
      </ul>
    </section>
  <% end %>

  <section>
    <header class="section-header">
      <h2>Commits that will be rolled back</h2>
    </header>

    <p><%= link_to_github_deploy(@rollback) %></p>

    <%= render 'shipit/deploys/summary', commits: @rollback.commits %>
  </section>

  <%= render_monitoring @stack %>

  <%= render_checklist @stack.checklist %>

  <%= form_for [@stack, @rollback] do |f| %>
    <%= render partial: 'shipit/variables', locals: { variables: @rollback.variables, form: f, header: "Environment Variables", field_name: :env}  %>

    <%= render 'concurrent_deploy_warning' if @stack.active_task? %>

    <section class="submit-section">
      <%= f.hidden_field :parent_id %>
      <%= f.submit 'Rollback', :class => ['btn', 'rollback', 'trigger-rollback'], data: {confirm: "Are you really sure it's safe?"} %>
    </section>
  <% end %>
</div>
