<%= render partial: 'shipit/stacks/header', locals: { stack: @stack } %>

<div class="wrapper">
  <section class="warning">
    <h2>Are you sure it's safe to rollback?</h2>
    <ul>
      <li>Does the code you want to rollback contain migrations?</li>
      <li>If so, is the old code compatible with the new schema?</li>
    </ul>
  </section>

  <section>
    <header class="section-header">
      <h2>Commits included in this rollback</h2>
    </header>

    <p><%= link_to_github_deploy(@rollback) %></p>

    <%= render 'shipit/deploys/summary', commits: @rollback.commits %>
  </section>

  <%= render_monitoring @stack %>

  <%= render_checklist @stack.checklist %>

  <%= form_for [@stack, @rollback] do |f| %>
    <% unless @rollback.variables.empty? %>
      <section>
        <header class="section-header environment-variables">
          <h2>Environment variables</h2>
        </header>
        <%= f.fields_for :env do |env_fields| %>
          <% @rollback.variables.each do |variable| %>
            <p class="environment-variable">
              <%= env_fields.text_field variable.name, value: variable.default %>
              <%= env_fields.label variable.name, variable.title || variable.name %>
            </p>
          <% end %>
        <% end %>
      </section>
    <% end %>

    <%= render 'concurrent_deploy_warning' if @stack.deploying? %>

    <section class="submit-section">
      <%= f.hidden_field :parent_id %>
      <%= f.submit 'Rollback', :class => ['btn', 'rollback', 'trigger-rollback'], data: {confirm: "Are you really sure it's safe?"} %>
    </section>
  <% end %>
</div>
