<% content_for :task_title do %>
  <% if @deploy.rollback? %>
    <%= @deploy.active? ? "rolling back to" : "rolled back to" %>
  <% else %>
    <%= @deploy.active? ? "deploying" : "deployed" %>
  <% end %>
  <span class="short-sha"><%= link_to_github_deploy(@deploy) %></span>
  <%= timeago_tag(@deploy.created_at, force: true) %>
<% end %>

<%= render partial: 'shipit/tasks/task_output', locals: {task: @deploy} %>
