<li class="pr" id="pr-<%= pull_request.id %>">
  <%= render 'shipit/shared/author', author: pull_request.merge_requested_by %>
  <div class="pr-details">
    <span class="pr-number">
      <%= pull_request_link(pull_request) %>
    </span>
    <span class="pr-title">
      <%= render_pull_request_title_with_link pull_request %>
    </span>
    <p class="pr-meta">
      <span class="code-additions">+<%= pull_request.additions %></span>
      <span class="code-deletions">-<%= pull_request.deletions %></span>
    </p>
    <p class="pr-meta">
      Enqueued <%= timeago_tag(pull_request.merge_requested_at, force: true) %>
      <% if pull_request.revalidating? %>
        <em class="warning">Need revalidation.</em>
      <% end %>
    </p>
    <p class="pr-meta">
      <% if pull_request.rollbackable %>
        <span class='rollbackable-yes'> Safe to rollback </span>
      <% elsif pull_request.rollbackble == false %>
        <span class='rollbackable-no'> Unsafe to rollback </span>
      <% else %>
        <!-- Do not display anything if rollbackable is nil -->
      <% end %>
    </p>
  </div>
  <% if pull_request.revalidating? %>
    <div class="commit-actions">
      <%= button_to 'Confirm', stack_pull_requests_path(pull_request.stack, number_or_url: pull_request.number), class: 'btn btn--warning', method: 'post' %>
    </div>
  <% end %>
  <div class="commit-actions">
    <%= button_to 'Cancel', stack_pull_request_path(pull_request.stack, pull_request), class: 'btn btn--warning', method: 'delete' %>
  </div>
</li>
