<div class="branch-action-item js-details-container" <% if queue_enabled? %>data-queue-enabled<% end %> data-merge-status="<%= stack_status %>">
  <%= render 'merge_queue_button' if queue_enabled? %>
  <div class="branch-action-item-icon completeness-indicator">
    <%= render 'anchor', color: '#2cbe4e' %>
  </div>

  <h4 class="status-heading">
    <% if merge_request.waiting? %>
      <% if merge_request.all_status_checks_passed? %>
        Will be merged shortly!
      <% else %>
        Will be merged when required checks are passing.
      <% end %>
    <% else %>
      Ready to ship!
    <% end %>
  </h4>

  <span class="status-meta">
    <%= link_to @stack.to_param, stack_url(@stack), target: '_blank', rel: 'noopener' %> is clear.
  </span>

  <%= render 'commit_count_warning' if display_commit_count_warning?(params[:commits].to_i) %>
</div>
