<div class="stack">
  <h4>Favourites</h4>

  <ul>
    <% @favourite_stacks.each do |stack| -%>
      <li class="nav-item">
        <span class="platform"><%= stack.repo_name %></span>
        <ul class="server-lst">
            <li class="server <%= is_current_stack?(stack) ? 'selected' : '' %>">
              <%= link_to stack_favourite_path(stack.id), class: 'remove-favourite', method: :delete, 'data-confirm' => 'Are you sure you want to unfavourite this?' do %>
                <%= image_tag 'x_remove.png', border: 0 %>
              <% end %>

              <%= link_to stack.environment, stack_path(stack) %>
            </li>
        </ul>
      </li>
    <% end -%>
  </ul>
</div>
