<!DOCTYPE html>
<html data-controller="<%= controller_name %>" data-action="<%= action_name %>">
<head>
  <title>Shipit</title>
  <%= stylesheet_link_tag "master", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="layout">
    <header class="sidebar">
      <div class="inner-sidebar">
        <a href="/" class="logo"><i></i><span>Ship it</span></a>
        <nav class="nav">
          <%= render 'layouts/favourites_menu' if favourites_menu.stacks.any? -%>
          <%= render 'layouts/menu' %>
        </nav>
      </div>
    </header>
    <div class="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
