<!DOCTYPE html>
<html data-controller="<%= controller_name %>" data-action="<%= action_name %>">
<head>
  <title>Shipit</title>
  <%= stylesheet_link_tag "master", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="notice notifications">
    <div class="message">
      <h3>Desktop notifications</h3>
      <p>Desktop notifications are used to let you know the status of your deploy.</p>
    </div>
    <div class="cta">
      <button class="btn">Manage notifications</button>
    </div>
  </div>
  <div class="layout">
    <header class="sidebar">
      <div class="inner-sidebar">
        <a href="/" class="logo"><i></i><span>Ship it</span></a>
        <% if can_login? %>
          <%= link_to "Login with Github", authentication_path(:github, origin: request.original_url) %>
        <% end %>
        <nav class="nav">
          <% menu.owners.each do |owner| %>
            <div class="stack">
              <% if menu.owners.count > 1 %>
                <h4 class="stack-owner"><%= owner.name %></h4>
              <% end %>
              <ul>
                <% owner.repos.each do |repo| %>
                  <li class="nav-item">
                    <span class="platform"><%= repo.name %></span>
                    <ul class="server-lst">
                      <% repo.stacks.each do |stack| %>
                        <li class="server <%= is_current_stack?(stack) ? 'selected' : '' %>">
                          <a href="<%= stack_path(stack) %>">
                            <%= stack.environment %>
                          </a>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </nav>
      </div>
    </header>
    <div class="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
