<!DOCTYPE html>
<html data-controller="<%= controller_name %>" data-action="<%= action_name %>">
<head>
  <title>Shipit</title>
  <%= stylesheet_link_tag "master", media: "all" %>
  <%= javascript_include_tag "application" %>

  <%= include_plugins %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="notice notifications hidden">
    <div class="message">
      <h3>Desktop notifications</h3>
      <p>Desktop notifications are used to let you know the status of your deploy.</p>
    </div>
    <div class="cta">
      <button class="btn">Manage notifications</button>
    </div>
  </div>
  <div class="layout">
    <header class="sidebar">
      <div class="inner-sidebar">
        <a href="/" class="logo"><i></i><span>Ship it</span></a>
        <% if can_login? %>
          <%= link_to "Login with Github", authentication_path(:github, origin: request.original_url) %>
        <% end %>
      </div>
      <div class="sidebar-plugins-outer">
        <div class="sidebar-plugins"></div>
      </div>
    </header>
    <div class="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
