<!DOCTYPE html>
<html data-controller="<%= controller_name %>" data-action="<%= action_name %>">
<head>
  <title><%= [Shipit.app_name, @stack.try!(:repo_name)].compact.join(' - ') %></title>
  <%= stylesheet_link_tag :shipit, media: 'all' %>
  <%= javascript_include_tag :shipit %>

  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: ["flash-#{name}", :flash] %>
  <% end %>
  <div class="notice notifications hidden">
    <div class="message">
      <h3>Desktop notifications</h3>
      <p>Desktop notifications are used to let you know the status of your deploy.</p>
    </div>
    <div class="cta">
      <button class="btn">Manage notifications</button>
    </div>
  </div>
  <div class="layout">
    <header class="navigation">
      <div class="navigation__inner">
        <div class="navigation__inner__logo">
          <a href="/" class="logo"><i></i><span>Ship it</span></a>
        </div>

        <div>
          <%= yield :primary_navigation %>
          <% if can_login? %>
            <%= link_to "Login with Github", github_authentication_path(origin: request.original_url) %>
          <% end %>
        </div>
      </div>
      <div class="navigation__inner navigation__inner--last">
        <div class="sidebar-plugins-outer">
          <%= yield :secondary_navigation %>
          <div class="sidebar-plugins"></div>
        </div>
      </div>
    </header>
    <div class="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
