<!DOCTYPE html>
<html data-controller="<%= controller_name %>" data-action="<%= action_name %>">
<head>
  <title><%= [Shipit.app_name, @stack.try!(:repo_name)].compact.join(' - ') %></title>
  <%= stylesheet_link_tag :shipit, media: 'all' %>
  <%= javascript_include_tag :shipit %>

  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: ["flash-#{name}", :flash] %>
  <% end %>

  <div class="banner notification banner--grey hidden">
    <div class="banner__inner wrapper">
      <div class="banner__content">
        <h2 class="banner__title">Do you want to enable desktop notifications?</h2>
      </div>
      <div class="banner__accessory">
        <button class="banner__btn btn">Enable notifications</button>
      </div>
    </div>
  </div>

  <header class="header">
    <div class="wrapper">
      <div class="header__inner">
        <a href="/" class="logo">
          <span class="visually-hidden">Shipit</span>
        </a>
        <div class="header__page-title">
          <%= yield :page_title %>
        </div>
        <% if content_for? :secondary_navigation %>
          <nav class="header__nav">
            <%= yield :secondary_navigation %>
          </nav>
        <% end %>
      </div>
    </div>
  </header>

  <div class="main" data-layout-content>
    <%= yield %>
  </div>
</body>
</html>
