<li class="commit <%= 'locked' if commit.locked? %>" id="commit-<%= commit.id %>">
  <% cache commit do %>
    <% cache commit.author do %>
      <%= render 'shipit/shared/author', author: commit.author %>
    <% end %>

    <%= render commit.status %>
    <div class="commit-details">
      <span class="commit-title"><%= render_commit_message_with_link commit %></span>
      <p class="commit-meta">
        <span class="sha"><%= render_commit_id_link(commit) %></span>
        <% if commit.additions.present? && commit.deletions.present? %>
          <span class="code-additions">+<%= commit.additions %></span>
          <span class="code-deletions">-<%= commit.deletions %></span>
        <% end %>
      </p>
      <p class="commit-meta">
        <%= timeago_tag(commit.committed_at, force: true) %>
      </p>
      <p class="commit-meta">
        <% if commit.unsafe_to_rollback%>
          <span class='rollbackable-no'> Unsafe to rollback </span>
        <% elsif commit.unsafe_to_rollback == false %>
          <span class='rollbackable-yes'> Safe to rollback </span>
        <% else %>
          <!-- Do not display anything if rollbackable is nil -->
        <% end %>
      </p>
    </div>
    <div class="commit-lock" >
      <%= link_to stack_commit_path(commit.stack, commit), class: 'action-lock-commit', data: {tooltip: t('commit.lock')} do %>
        <i class="icon icon--lock"></i>
      <% end %>
      <%= link_to stack_commit_path(commit.stack, commit), class: 'action-unlock-commit', data: {tooltip: t('commit.unlock'), confirm: t('commit.confirm_unlock')} do %>
        <i class="icon icon--lock"></i>
      <% end %>
    </div>
  <% end %>
  <div class="commit-actions">
    <%= deploy_button(commit) %>
  </div>
</li>
